@model InventoryItem
@{
    ViewData["Title"] = "Item Details";
}

<div class="card shadow mt-4">
    <div class="card-header bg-primary text-white">
        <h5>Inventory Item Details</h5>
    </div>
        <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">ID</dt>
            <dd class="col-sm-9">@Model.InventoryItemId</dd>

            <dt class="col-sm-3">Warehouse</dt>
            <dd class="col-sm-9">@Model.WareHouse.Name</dd>

            <dt class="col-sm-3">Quantity</dt>
            <dd class="col-sm-9">@Model.Quantity</dd>

            <dt class="col-sm-3">Product</dt>
            <dd class="col-sm-9">@Model.Product.Name</dd>
        </dl>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
